/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
    height: 100vh;
    background: #EF473A;
    display: flex;
    align-items: center;
}