<template name="Home">    
    <div class="home">
        <div class="row">
            <div class="col s12">
                <div class="center">
                    <span>Let's logo</span>
                </div>
            </div>
            <div class="col s6 center">
                <a href="/letseat" class="btn waves-effect waves-light blue darken-2 white-text">Facebook</a>
            </div>
            <div class="col s6 center">
                <a href="/letseat" class="btn waves-effect waves-light red darken-2 white-text">Google</a>
            </div>
        </div>
    </div>
</template>
